.full-page-center__container{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}

.auth__container{
display: flex;
flex-direction: column;
align-items: center;
padding: var(--card-padding);
margin-top: 1.5rem;
background-color: var(--background-color);
width: 400px;
}

form {
display: flex;
flex-direction: column;
font-family: var(--font-stack);
width: 100%;
}

form p{
display: flex;
flex-direction: column;
}

input {
outline: none;
border: 1px solid var(--offWhite);
}

input:focus {
outline: 1px solid var(--light-color);
}

#auth-redirect {
  margin-top: 1rem;
}

#auth-redirect a{
  color: rgba(10,160,160);
}

#auth__button {
  margin-top: var(--button-marginTop);
  margin-left: 35%;
  padding: var(--button-padding);
  width: 100px;
  color: var(--offWhite);
  outline: var(--light-color);
  border: none;
  background: var(--darker-color);
  border-radius: 4px;
  transition: var(--button-transition);
}

#auth__button:hover {
  transform: translateY(-2px);
  box-shadow: var(--button-boxShadow);
}