
</div>{% extends 'base_template.html' %}{% block content %}
<br />

<div class="listing__container">
  <div class="listing__header">
    <h2 id="header">{{listing.title}}</h2>
    <a href="/profile/{{listing.user.username}}">{{listing.user.name}}</a>
  </div>
  <div class="listing-hero__container">
    <h5>Description:</h5>
    <p>{{listing.description}}</p>
  </div>
  <div class="listing-buttons__container">
    <button type="submit" id="favorite_button">
      <a href="/favorite/{{listing.id}}/">{% if user in listing.favorited_by.all %}Unfavorite{% else %}Favorite{% endif %}</a>
  </button>
  {% if not user in listing.applicants.all %}
    <form id="listing-quick-apply" method="post" action="">
    {% csrf_token %}
      <button type="submit" id=listing__button>
      Quick Apply
      </button>
    </form>
    {% else %}
    <div id="listing-quick-apply__message">
      {% if user in listing.applicants.all %}
      <p class="listing-status">Status: <strong>Applied</strong></p>
      {% elif user in listing.accepted_apps.all %}
      <p class="listing-status">Status: <strong> Reviewing your application</strong></p>
      {% elif user in listing.interviewing_apps.all %}
      <p class="listing-status">Status: <strong>Interviewing</strong></p>
      {% elif user in listing.denied_apps.all %}
      <p class="listing-status">Status: <strong>Rejected</strong></p>
      {% endif %}
      {% endif %}
    </div>
  
  
  </div>
  <div class="listing-messages__container">
  {% for message in messages %}
    <div class="{{ message.tags }}">
    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </div>
  </div>
  {% endfor %}
</div> {% endblock %}
