{% extends 'base_template.html' %}{% block content %}
<form method="post" action="">
  {% csrf_token %}
  <table>{{form.as_table}}
    <p>Name : {{user.name}} | Username : {{user.username}}</p>
    <p>Email: {{user.email}} | Phone Number: {{user.contact_num}}</p>
    <p>Bio: {{user.bio}}</p>
    <p>Work Experience: {{user.experience}} | Skills: {{user.skills}}</p>
    <button><a class="nav-link font-weight-bold" href="/profile/{{request.user.id}}/edit/">Edit
        Profile</a></button>
  </table>
</form>
{% endblock %}

<!-- Listings and favorite jobs to be added -->